@{
    ViewData["Title"] = "Home Page";
}

<h2>Selecione uma opção</h2>

<ul>
    <li><a asp-controller="Home" asp-action="NewProduct">Cadastar Produto</a></li>
    <li><a asp-controller="Home" asp-action="ConsultProduct">Consultar Produto</a></li>
    @*<li><a asp-controller="Home" asp-action="About">About</a></li>
    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>*@
</ul>
